<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bookstoreshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookstoresServlet</display-name>
    <servlet-name>BookstoresServlet</servlet-name>
    <servlet-class>com.bookstoreshop.servlet.BookstoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookstoresServlet</servlet-name>
    <url-pattern>/BookstoresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Departmentservlet</display-name>
    <servlet-name>Departmentservlet</servlet-name>
    <servlet-class>com.department.servlet.Departmentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Departmentservlet</servlet-name>
    <url-pattern>/Departmentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.department.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet1</display-name>
    <servlet-name>DepartmentServlet1</servlet-name>
    <servlet-class>com.bookstoreshop.servlet.DepartmentServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet1</servlet-name>
    <url-pattern>/DepartmentServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userservlet</display-name>
    <servlet-name>Userservlet</servlet-name>
    <servlet-class>com.bookstoreshop.servlet.Userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/Userservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.bookstoreshop.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
</web-app>